* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 200px;
}

body {
    text-align: center;
    width: 90%;
    margin: 20px 5%;
    font-size: 16px;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}
.section {
    display: flex;
    flex-direction: column;

}
.header__pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-items: center;
}
.name__name {
    color: blue;
}

.title__container {
    padding: 40px 0 30px 0;
}
.title {
    background: blue;
    color: white;
    font-size: 1.2em ;
    font-weight: 900;
    padding: 8px 5px;
}
.about_info {
    text-align: justify;
    padding-bottom: 15px;
}
.experience__job {
    font-size: 20px;
    font-weight: 700;
}
.portafolio__title {
    font-size: 20px;
    font-weight: 700;
}
.portafolio__item {
    padding: 20px;
}
.tecnoligias__title {
    font-size: 1.4em;
    color: blue;
    border: 2px solid blue;
    margin-bottom:20px;
    margin-top: 20px;
}

.tecnologias1__img {
    width: 150px;
    padding: 10px 20px;
}

.tecnologias2__img {
    width: 150px;
    padding: 10px 20px;
}

.tecnologias3__img {
    width: 150px;
    padding: 10px 20px;
}
.idiomas__box {
    padding: 20px 0;
}

/* .idiomas__container {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
} */

.idiomas__box-title {
    font-size: 24px;
    font-weight: 700; 
    padding: 10px;
}

.idiomas__img {
    height: 12px;
}
.contacto__container {
    font-size: 18px;
    font-weight: 600;
}
.contacto__img {
    width: 100px;
}
.contacto__item {
    padding-bottom: 40px;
}

@media (min-width: 768px) {
    body {
        text-align: center;
        width: 80%;
        margin: 20px 10%;
        font-size: 18px;
    }

    .title {
        background: blue;
        color: white;
        font-size: 1.6em ;
        font-weight: 900;
        padding: 8px 5px;
    }
    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .header__item {
        width: 40%;
        align-items: center;
    }
    .header__pic {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
    .name {
        font-size: 25px;
        font-weight: 700;
    }
    .profession {
        font-size: 20px;
        font-weight: 600;
    }
    .experience__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .experince__ericsson {
       width: 300px;
    }
    .portafolio__container {
        display:flex;
      flex-direction: row;
      flex-wrap: wrap;
       justify-content: center;
       gap: 10px;
     
    }
    .idiomas__container {
        display:flex;
      flex-direction: row;
      flex-wrap: wrap;
       justify-content: center;
       gap: 60px;
    }
    
    .contacto__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .contacto__item {
        width: 200px;
    }
} 

@media (min-width: 1024px) {
    body {
        text-align: center;
        width: 78%;
        max-width: 1200px;
        margin: 20px auto;
        font-size: 20px;
        font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    }
    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .header__item {
        width: 40%;
        align-items: center;
    }
    .header__pic {
        width: 300px;
        height: 300px;
    }    .name {
        font-size: 30px;
        font-weight: 800;
    }
    .profession {
        font-size: 25px;
        font-weight: 700;
    }
    .experience__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .experince__ericsson {
       width: 300px;
    }
    .portafolio__container {
        display:flex;
      flex-direction: row;
      flex-wrap: wrap;
       justify-content: center;
       gap: 10px;
     
    }
    .idiomas__container {
        display:flex;
      flex-direction: row;
      flex-wrap: wrap;
       justify-content: center;
       gap: 80px;
     
    }
    .contacto__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       justify-content: center;
        align-items: center;
        gap: 20px;
    }

}