/*- Configracion de variables -*/
:root {
    /*- COLORES PAGINA -*/
    --color-negro: #020403;
    --color_gris: #979797;
    --color-blanco: #FFFFFF;
    --color-ericsson: #00285e;
    --color-azulclaro: #03397c;
    --color-azuloscuro: #041c42;
}

/*-- RESET de la pagina --*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 200px;
}

body {
    text-align: center;
    width: 90%;
    margin: 20px 5%;
    font-size: 16px;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.section {
    display: flex;
    flex-direction: column;

}

ul {
    list-style: none;
}

li {
    padding: 8px;
}

a {
    color: var(--color-blanco);
    text-decoration: none;
}

.body__container {
    width: 90%;
    max-width: 1024px;
}

/*-- MENU DE NAVEGACION --*/

.open__menu-modal {
    width: 35px;
    height: 26px;
    position: fixed;
    right: 10px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    background-color: rgb(13, 49, 97);
    padding: 3px 6px;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.modal__menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(69, 127, 182);
    display: flex;
    flex-direction: column;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}

.modal__menu-close {
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    margin-top: 6px;
    cursor: pointer;
}

.nav__menu {
    margin: auto;
    font-size: 20px;
}

.nav__link:hover {
    color: yellow;
    font-weight: 400;
    text-decoration: underline;
}

.modal--menu-show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity 0.6s;
    --transform: translateY(0);
    --transition: transform 1s 1s;
}

.icono_menu {
    align-self: flex-start;
}

.header__pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-items: center;
}

.name__name {
    color: var(--color-azulclaro)
}

.title__container {
    padding: 40px 0 30px 0;
}

.title {
    background: var(--color-azulclaro);
    color: white;
    font-size: 1.2em;
    font-weight: 900;
    padding: 8px 5px;
}

/*-- SECCION ABOUT --*/
.about_info {
    text-align: justify;
    padding-bottom: 15px;
}

.about__cv {
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: var(--color-azulclaro);
    padding: 10px 20px;
    border-radius: 30px;
}

.about__cv:hover {
    transform: scale(1.1);
    background-color: white;
    color: var(--color-azulclaro);
    border: 1px solid var(--color-azulclaro);
    box-shadow: 4px 4px 5px grey;
}

/*-- SECCION EXPERIENCIA LABORAL --*/
.experience__job {
    font-size: 20px;
    font-weight: 700;
}

.experience__jobs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.experience__marconi {
    width: 340px;
    height: 250px;
    border: 1px solid grey;
    border-radius: 7px;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
}

.experience__ericsson {
    width: 340px;
    height: 250px;
    border: 1px solid grey;
    border-radius: 7px;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
}

.experience__ericsson:hover,
.experience__marconi:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 5px grey;
}

.open__marconi-modal,
.open__ericsson-modal {
    font-size: 10px;
    text-decoration: none;
    color: white;
    background-color: var(--color-azulclaro);
    padding: 3px 8px;
    margin-top: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.open__idiomas-modal,
.open__lenguajes-modal,
.open__so-modal,
.open__diseño-modal {
    font-size: 10px;
    text-decoration: none;
    color: white;
    background-color: var(--color-azulclaro);
    padding: 3px 8px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.open__marconi-modal:hover,
.open__ericsson-modal:hover,
.open__idiomas-modal:hover,
.open__lenguajes-modal:hover,
.open__so-modal:hover,
.open__diseño-modal:hover {
    background-color: white;
    border: 1px solid var(--color-azulclaro);
    color: var(--color-azulclaro);
}

.modal__marconi,
.modal__ericsson,
.modal__idiomas,
.modal__lenguajes,
.modal__so,
.modal__diseño {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #111111aa;
    border: 1px solid salmon;
    border-radius: 10px;
    display: flex;
    text-align: center;
    margin: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s 0.6s;
    --transform: translateY(-100vh);
    --transition: transform 1s;
}

.modal__title-job {
    font-size: 18px;
    font-weight: 700;
}

.modal--marconi-show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity 0.6s;
    --transform: translateY(0);
    --transition: transform 1s 1s;
}

.modal__container {
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    display: grid;
    place-items: center;
    transform: var(--transform);
    transition: transform 0.6s;
}

.modal__marconi-close {
    font-size: 10px;
    text-decoration: none;
    color: white;
    background-color: var(--color-azulclaro);
    padding: 3px 8px;
    margin-top: 10px;
    border-radius: 6px;
}

.modal__marconi-close:hover {
    background-color: white;
    border: 1px solid var(--color-azulclaro);
    color: var(--color-azulclaro);
}


.modal--ericsson-show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity 0.6s;
    --transform: translateY(0);
    --transition: transform 1s 1s;

}

.modal__ericsson-container {
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    display: grid;
    place-items: center;
    transform: var(--transform);
    transition: transform 0.6s;
}

.modal__ericsson-close {
    font-size: 10px;
    text-decoration: none;
    color: white;
    background-color: var(--color-azulclaro);
    padding: 3px 8px;
    margin-top: 10px;
    border-radius: 6px;
}

.modal__ericsson-close:hover {
    background-color: white;
    border: 1px solid var(--color-azulclaro);
    color: var(--color-azulclaro);
}

/*-- SECCION PORTAFOLIO / PROYECTOS --*/
.portafolio__title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}

.portafolio__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

.portafolio__item {
    width: 280px;
    height: 220px;
    padding: 20px;
}

.portafolio__img-p1,
.portafolio__img-p2,
.portafolio__img-p3,
.portafolio__img-p4 {
    width: 250px;
    height: 150px;
    margin: 0 auto;
    box-shadow: 8px 8px 10px gray;
}

.portafolio__img-p1 {
    background-image: url(./assets/proyecto-pokemon-peq.jpg);
}

.portafolio__img-p2 {
    background-image: url(./assets/proyecto-rym-peq.jpg);
}

.portafolio__img-p3 {
    background-image: url(./assets/proyecto-clima-peq.jpg);
}

.portafolio__img-p4 {
    background-image: url(./assets/proyecto-citas-peq.jpg);
}

.portafolio__hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    background-color: #11111100;
    transform: translateY(-20px);
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
}

.portafolio__hover:hover {
    width: 250px;
    height: 150px;
    background-color: #111111A0;
    transform: translateY(0);
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
}

/*-- SECCION CONOCIMIENTOS DE TECNOLOGIA --*/
.tecnoligias__title {
    font-size: 1.4em;
    color: var(--color-azulclaro);
    border: 2px solid var(--color-azulclaro);
    margin-bottom: 0;
    margin-top: 20px;
}

.tecnologias1__img,
.tecnologias2__img,
.tecnologias3__img {
    width: 150px;
    padding: 18px 20px;
}

.tecnologias1__img:hover,
.tecnologias2__img:hover,
.tecnologias3__img:hover {
    transform: scale(1.1);
}

.modal--lenguajes-show,
.modal--so-show,
.modal--diseño-show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity 0.6s;
    --transform: translateY(0);
    --transition: transform 1s 1s;
}

.modal__lenguajes-close,
.modal__so-close,
.modal__diseño-close {
    font-size: 10px;
    text-decoration: none;
    color: white;
    background-color: var(--color-azulclaro);
    padding: 3px 8px;
    margin-top: 10px;
    border-radius: 6px;
}

.modal__lengauajes-close:hover,
.modal__so-close:hover,
.modal__diseño-close:hover {
    background-color: white;
    border: 1px solid var(--color-azulclaro);
    color: var(--color-azulclaro);
}

/*-- SECCION IDIOMAS --*/
.idiomas__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.idiomas__container-box {
    width: 300px;
}

.idiomas__box-title {
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
}

.open__idiomas-modal {
    font-size: 10px;
    text-decoration: none;
    color: white;
    background-color: var(--color-azulclaro);
    padding: 3px 8px;
    margin-top: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.open__idiomas-modal:hover {
    background-color: white;
    border: 1px solid var(--color-azulclaro);
    color: var(--color-azulclaro);
}

.modal--idiomas-show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity 0.6s;
    --transform: translateY(0);
    --transition: transform 1s 1s;
}

.modal__idiomas-close {
    font-size: 10px;
    text-decoration: none;
    color: white;
    background-color: var(--color-azulclaro);
    padding: 3px 8px;
    margin-top: 10px;
    border-radius: 6px;
}

.modal__idiomas-close:hover {
    background-color: white;
    border: 1px solid var(--color-azulclaro);
    color: var(--color-azulclaro);
}

.idiomas__barra-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 250px;
    gap: 10px;
}

.idiomas_cuadro {
    width: 40px;
    height: 12px;
    border: 1px solid var(--color-ericsson);
}

.idioma__lleno {
    background-color: var(--color-azulclaro);
}

/*-- SECCION CONTACTO --*/
.contacto__container {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contacto__img {
    width: 100px;
}

.contacto__img:hover {
    transform: scale(1.05);
}

.contacto__item {
    width: 200px;
    margin: 0 auto;
    padding-bottom: 40px;
}

@media (min-width: 768px) {
    /* body {
        text-align: center;
        width: 80%;
        margin: 20px 10%;
        font-size: 18px;
    } */

    .title {
        background: var(--color-azulclaro);
        color: white;
        font-size: 1.6em;
        font-weight: 900;
        padding: 8px 5px;
    }


    .header2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .header__item {
        width: 40%;
        align-items: center;
    }

    .header__pic {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }

    .name {
        font-size: 25px;
        font-weight: 700;
    }

    .profession {
        font-size: 20px;
        font-weight: 600;
    }

    .experience__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .experince__ericsson {
        width: 300px;
    }

    .portafolio__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

    }

    .idiomas__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 60px;
    }

    .contacto__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .contacto__item {
        width: 200px;
    }

    .contacto__img:hover {
        transform: scale(1.05);
        opacity: 0.8;
    }
}

@media (min-width: 1000px) {
    body {
        text-align: center;
        width: 78%;
        max-width: 1200px;
        margin: 20px auto;
        font-size: 20px;
    }

    .open__menu-modal {
        display: none;
    }

    .modal__menu {
        position: fixed;
        height: 60px;
        max-width: 1024px;
        margin: 0 auto;
        background-color: var(--color-azulclaro);
        opacity: 1;
        pointer-events: unset;
        border-bottom: 3px solid white;
    }

    .modal__menu-close {
        display: none;
    }

    .nav__item {
        display: inline;
    }

    .nav__link {
        font-size: 16px;
    }


.section {
    padding-top: 20px;
    margin-top: 20px;
}
    .header2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }

    .header__item {
        width: 40%;
        align-items: center;
    }

    .header__pic {
        width: 300px;
        height: 300px;
    }

    .name {
        font-size: 30px;
        font-weight: 800;
    }

    .profession {
        font-size: 25px;
        font-weight: 700;
    }

    .experience__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .experince__ericsson {
        width: 300px;
    }

    .portafolio__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

    }

    .idiomas__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 80px;

    }

    .contacto__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .contacto__item {
        width: 25%;
    }

    .contacto__info {
        font-size: 18px;
        font-weight: 700;
    }

}